body{
	text-align: center;
	font-family: sans-serif;
	padding-bottom: 100px;
	width: 1000px;
	margin: auto;

}

.catHeader{
	display: flex;
	
}

#cat{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1024a2;
	color: white;
	width: 100%;
	height: 120px;
	margin: auto;
	border: 2px solid black;
}

.value{
	color: orange;;
	font-size: 40px;
}

.overall{
	display: flex;
	flex-direction: row;
}

.gameboard{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: rgba(14,37,162,1);
}
.gameboard1{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: rgba(14,37,162,1);
}
.gameboard2{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: rgba(14,37,162,1);
}
.gameboard3{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: rgba(14,37,162,1);
}
.gameboard4{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	background-color: rgba(14,37,162,1);
}

.category{
	width: 100%;
	height: auto;
	margin: auto;
}

.reveal{
	width: 100%;
	height: 230px;
	background-color: rgba(14,37,162,1);
	display: block;
}


.question{
	color: white;
	background-color: rgba(14,37,162,1);
	display: none;
}

.answer{
	color: orange;
	font-size: 30px;
	display: none;
}


































